<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Host }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Look at your public IP - Public IP contains more information than I thought">

    {{ template "script.html" . }} {{ template "styles.html" . }}
    
  </head>
  <body>
    <div class="content">
      <h1 id="ip">{{ .IP }}</h1>
      
      <div class="attributes">
        <div class="attribute">
          <h2>IP address (decimal)</h2>
          <h3>{{ .IPDecimal }}</h3>
        </div>
        {{ if .Country }}
        <div class="attribute">
          <h2>Country</h2>
          <h3>{{ .Country }}</h3>
        </div>
        {{ end }} {{ if .CountryISO }}
        <div class="attribute">
          <h2>Country (ISO code)</h2>
          <h3>{{ .CountryISO }}</h3>
        </div>
        {{ end }} {{ if .CountryEU }}
        <div class="attribute">
          <h2>In EU?</h2>
          <h3>{{ .CountryEU }}</h3>
        </div>
        {{ end }} {{ if .RegionName }}
        <div class="attribute">
          <h2>Region</h2>
          <h3>{{ .RegionName }}</h3>
        </div>
        {{ end }} {{ if .RegionCode }}
        <div class="attribute">
          <h2>Region code</h2>
          <h3>{{ .RegionCode }}</h3>
        </div>
        {{ end }} {{ if .MetroCode }}
        <div class="attribute">
          <h2>Metro code</h2>
          <h3>{{ .MetroCode }}</h3>
        </div>
        {{ end }} {{ if .PostalCode }}
        <div class="attribute">
          <h2>Postal code</h2>
          <h3>{{ .PostalCode }}</h3>
        </div>
        {{ end }} {{ if .City }}
        <div class="attribute">
          <h2>City</h2>
          <h3>{{ .City }}</h3>
        </div>
        {{ end }} {{ if .Latitude }}
        <div class="attribute">
          <h2>Latitude</h2>
          <h3>{{ .Latitude }}</h3>
        </div>
        {{ end }} {{ if .Longitude }}
        <div class="attribute">
          <h2>Longitude</h2>
          <h3>{{ .Longitude }}</h3>
        </div>
        {{ end }} {{ if .Timezone }}
        <div class="attribute">
          <h2>Timezone</h2>
          <h3>{{ .Timezone }}</h3>
        </div>
        {{ end }} {{ if .ASN }}
        <div class="attribute">
          <h2>ASN</h2>
          <h3>{{ .ASN }}</h3>
        </div>
        {{ end }} {{ if .ASNOrg }}
        <div class="attribute">
          <h2>ASN (organization)</h2>
          <h3>{{ .ASNOrg }}</h3>
        </div>
        {{ end }} {{ if .Hostname }}
        <div class="attribute">
          <h2>Hostname</h2>
          <h3>{{ .Hostname }}</h3>
        </div>
        {{ end }} {{ if .UserAgent }} {{ if .UserAgent.Comment }}
        <div class="attribute">
          <h2>User agent</h2>
          <h3>{{ .UserAgent.Product }}/{{ .UserAgent.Version }}</h3>
        </div>
        {{ end }} {{ if .UserAgent.Comment }}
        <div class="attribute">
          <h2>User agent: Comment</h2>
          <h3>{{ .UserAgent.Comment }}</h3>
        </div>
        {{ end }} {{ if .UserAgent.RawValue }}
        <div class="attribute">
          <h2>User agent: Raw</h2>
          <h3>{{ .UserAgent.RawValue }}</h3>
        </div>
        {{ end }} {{ end }}
      </div>

      <div class="footer"></div>
    </div>
  </body>
</html>